<!-- <div class="modal-header">
  <h4 class="modal-title">Primer modal</h4>
</div>
<div class="modal-body">
  <button class="btn btn-primary" (click)="openSecond.emit()">Abrir segundo modal</button>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="close.emit()">Cerrar primer modal</button>
</div> -->

<!-- <div>
<button class="btn btn-primary" (click)="openSecond.emit()">Abrir segundo modal</button>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="close.emit()">Cerrar primer modal</button>
</div> -->

<div class="modal-header">
  <h5 class="modal-title">Primer modal</h5>
</div>
<div class="modal-body">
  <p>Contenido del primer modal</p>
  <button class="btn btn-primary" (click)="openSecond.emit()">Abrir segundo modal</button>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="close.emit()">Cerrar primer modal</button>
</div>
